## Chapter 3 - Appending to DataFrame

In [1]:
import pandas as pd

Create an empty DataFrame.

In [3]:
df = pd.DataFrame(columns = ['A', 'B', 'C'])
df

Empty DataFrame
Columns: [A, B, C]
Index: []

### Appending rows to a DataFrame

Appending a row by a single column value:

In [4]:
df.loc[0, 'A'] = 1
df

   A    B    C
0  1  NaN  NaN

Appending a row, given a list of values:

In [5]:
df.loc[1] = [2, 3, 4]
df

   A    B    C
0  1  NaN  NaN
1  2    3    4

Appending a row given a dictionary:

In [6]:
df.loc[2] = {'A': 3, 'C': 9, 'B': 9}
df

   A    B    C
0  1  NaN  NaN
1  2    3    4
2  3    9    9

The first input in ```.loc[]``` is the index. If you use an existing index, you will overwrite the values in that
row:

In [7]:
df.loc[1] = [5, 6, 7]
df

   A    B    C
0  1  NaN  NaN
1  5    6    7
2  3    9    9

In [8]:
df.loc[0, 'B'] = 8
df

   A  B    C
0  1  8  NaN
1  5  6    7
2  3  9    9

### Append a DataFrame to another DataFrame

Create two DataFrames:

In [9]:
df1 = pd.DataFrame({'A': ['a1', 'a2'],
 'B': ['b1', 'b2'],
})
df1

    A   B
0  a1  b1
1  a2  b2

In [10]:
df2 = pd.DataFrame({'B': ['b1'],
 'C': ['c1'],
})
df2

    B   C
0  b1  c1

The ```append``` method does not change either of the original DataFrames. Instead, it returns a new DataFrame by appending the original two.

In [11]:
df1.append(df2)

C:\Users\IOZZIA\AppData\Local\conda\conda\envs\tensorflowenv\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

     A   B    C
0   a1  b1  NaN
1   a2  b2  NaN
0  NaN  b1   c1

You can notice that it is possible to have duplicate indices (0 in this example). To avoid this issue, you may ask Pandas to reindex the new DataFrame for you:

In [12]:
df1.append(df2, ignore_index = True)

     A   B    C
0   a1  b1  NaN
1   a2  b2  NaN
2  NaN  b1   c1